<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Singleton Bean -->
    <bean id="singletonBean" class="bean.HelloWorld" scope="singleton"/>

    <!-- Prototype Bean -->
    <bean id="prototypeBean" class="bean.HelloWorld" scope="prototype" />
</beans>
